.red-2 {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ed4c5c;
}

.red-2__content-container {
  width: 35%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.red-2__h3 {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;

  color: #ffffff;
}

.red-2__p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */

  text-align: justify;

  color: #ffffff;
}

.red-2__icons-container {
  width: 25%;
  color: #fff;
  display: flex;
  justify-content: space-around;
}

.red-2__icons {
  width: 30px;
  height: 30px;
}

.fab {
  font-size: 24px;
}

.red-2__image-container {
  width: 45%;
  height: 80%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.red-2__first-image-container {
  width: 78%;
  height: 100%;
  z-index: 1;
}

.first-image {
  width: 100%;
  height: 100%;
}

.red-2__second-image-container {
  width: 60%;
  height: 70%;
  position: absolute;
  top: 15%;
  left: 0;
  z-index: 0;
}

.second-image {
  width: 100%;
  height: 100%;
}

.red-2__third-image-container {
  width: 60%;
  height: 70%;
  position: absolute;
  top: 15%;
  right: 0;
  z-index: 0;
}

.third-image {
  width: 100%;
  height: 100%;
}
