.technology {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.technology__header {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.technology__header-h2 {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  text-align: center;

  color: #000000;
}

.technology__content {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.technology__containers {
  width: 20%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.technology__number {
  width: 50%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-img {
  width: 90%;
  height: 70%;
}

.technology__text-container {
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.technology__h3 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;

  color: #101010;
}

.technology__p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;

  color: #000;
}

.technology__icons {
  position: absolute;
  top: 25%;
  left: 505;
}
