* {
  box-sizing: border-box;
}

.contact {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact__content {
  width: 40%;
  height: 70%;
}

.contact__title-container {
  width: 80%;
  height: 25%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.contact__h3 {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;

  color: #000000;
}

.contact__p-container {
  width: 80%;
  height: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.contact__p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */

  text-align: justify;

  color: #000000;
}

.contact__form {
  width: 40%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input {
  height: 100%;
  width: 100%;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 15px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: rgba(19, 39, 67, 0.5);
}

.contact__form-fields {
  width: 100%;
  height: 15%;
}

.cover-names {
  display: flex;
  justify-content: space-between;
}

.name-containers {
  height: 100%;
  width: 47%;
}

.input-name {
  height: 52px;
}

.contact__button {
  width: 30%;
  height: 100%;
  color: white;
  background: #ed4c5c;
  border: 1.5px solid #ed4c5c;
  box-sizing: border-box;
  border-radius: 6px;
}

.contact__button:hover {
  cursor: pointer;
}
